@import url("base/variables.css");

#login-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-family: var(--main-font-family);
    margin-top: 30px;
    margin-bottom: 50px;
}

#login-container .title {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-right: transparent;
    border-left: transparent;
}

#login-container h1 {
    color: #014B87;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

#login .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

#login-container .title span {
    color: gray;
    font-size: 1.4rem;
}

#login-container .login-info {
    width: 45%;
    color: var(--info-color);
    background-color: var(--info-bg-color);
    text-align: center;
    font-size: var(--info-font-size);
    border-radius: .25rem;
    padding: 20px;
    margin: 20px auto;
}

#login-container .form-group {
    width: 45%;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 1 5px;
}

#login-container .form-group label {
    padding: 5px;
}

#login-container .btn {
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
}

#login-container .log-reg-container .btn {
    margin-right: 10px;
    margin-left: 10px;
    white-space: nowrap;
}

#login-container .register-box a{
    text-decoration: none;
    color: #959293;
}