{% if not edit_mode %}
  <h1>Perfil de usuario</h1>
  <p>Email: {{ user.email }}</p>
  <p>Código de usuario: {{ user.codigo_usuario }}</p>
  <p>Nombre: {{ user.nombre }}</p>
  <p>Rol: {{ user.get_rol_display }}</p>
  <form method="post" action="{% url 'profile' %}">
    {% csrf_token %}
    <button type="submit" name="edit" value="True" class="btn btn-primary">Editar perfil</button>
  </form>
{% else %}
  <h1>Editar perfil</h1>
  <form method="post" action="{% url 'profile' %}">
    {% csrf_token %}
    <p>Email: <input type="email" name="email" value="{{ user.email }}"></p>
    <p>Código de usuario: <input type="text" name="codigo_usuario" value="{{ user.codigo_usuario }}"></p>
    <p>Nombre: <input type="text" name="nombre" value="{{ user.nombre }}"></p>
    <p>Rol: {{ user.get_rol_display }}</p>
    <button type="submit">Guardar cambios</button>
    <button type="submit" name="cancel" value="True">Cancelar</button>
  </form>
{% endif %}

<button type="submit" name="changep" class="btn btn-primary" onclick = "location.href='{% url 'change_password' %}'">Cambiar contraseña</button>
<button type="submit" name="changep" class="btn btn-primary" onclick = "location.href='{% url 'delete_user' %}'">Eliminar usuario</button>


{% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
{% endif %}
