#searchBar{
    width: 300px;
}

th {
    color: white;
    text-align: center;
    vertical-align: middle;
}

.badge {
    font-size: 1em;
    padding: 10px 10px;
}

.table {
    max-width: 70%;
    margin: auto;
    margin-top: 10px;
}